.layout {
  width: 100%;
  display: grid;
  grid-template-columns: 192px auto;
  .content {
    padding: 2% 2%;
    width: 100%;
    max-height: 90vh;
  }
  app-navigation {
    height: 90vh;
    box-shadow: 6px 1px 6px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 6px 1px 6px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 6px 1px 6px 0px rgba(0, 0, 0, 0.2);
    grid-row-start: 2;
    grid-row-end: 2;
    .navigation {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      padding: 15vh 0px;
      background-color: rgb(230, 230, 230);
      p {
        transition: 0.3s;
        padding: 5px 15px;
        background-color: rgb(210, 210, 210);
        border-radius: 5px;
        margin: 10px 7px;
        text-align: center;
        cursor: pointer;
        &:hover {
          background-color: rgb(200, 200, 200);
          box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
          -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
          -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
          transform: scale(1.02);
        }
      }
    }
  }
  app-header {
    grid-column: 1 / span 2;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
  }
}
.active {
  background-color: #1a237e !important;
  transform: scaleX(1.1) !important;
  margin: 10px 0px !important;
  border-radius: 0 !important;
  box-shadow: 6px 0px 6px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 6px 0px 6px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 6px 0px 6px 0px rgba(0, 0, 0, 0.3);
  color: white;
  position: relative;
  &::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 0;
    border-color: #1a237e transparent transparent transparent;
    right: 0;
    bottom: -10px;
    position: absolute;
  }
}

::ng-deep {
  body {
    overflow-y: hidden;
  }
  ::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
  }
  
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: rgb(150,150,150);
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(120,120,120);
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
