.header {
  width: 100%;
  height: 100%;
  background-color: #1A237E;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 25px 10px 0px 10px;
  img {
    max-width: 100%;
  }
  .logo {
    width: 100px;
  }
}
